#brand {
    font-weight: 200;
    font-size: 28px;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}﻿

.blackh {
    color: black;
}

hr {
    border-color: black;
    border-width: 2px;
}

.teasercontent {
    padding: 25px;
}

td {
padding-right: 20px;
}

thead tr td h6 {
padding-bottom: 0px;
margin-bottom: 0px;
}

thead tr td {
border-bottom: 1px solid black;
}

.form-control {
width: 50%;
}

.checkbox {
width: 50%;
padding-bottom: 10px;}

.panel-group {
width: 40%;
}

.faqHeader {
color: red;
}

.Dumm {
width: 90%;
align: center;
margin: 10px;
}

.foot {
width: 70%;
}

.text-muted {
font-size: 8px;
}

.foots {
font-size: 8px;
}

. {
text-decoration: none;
color: red;}

.panel-default {
    width: 50%;
    }

.modal-dialog {
width: 30%;
}